*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.modal-body {
    background-color: #0dcaf0;
}
header {
    background: #0dcaf0;


    ul {
        display: flex;
        justify-content: end;
        text-decoration: none;
        padding: 10px;

        li {
            list-style: none;
            text-decoration: none;
            padding: 10px;

            a {
                text-decoration: none;

                font-size: 20px;

                &:hover {
                    color: #ff0000;
                }
            }
        }
    }
}

main {
    display: flex;


}

// .card{
//     width: 100%;
// }

